@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/spacing" as *;

.medicationTableEmpty {
  @include type-style("label-02");
  background-color: $background;
  padding: $spacing-06 $spacing-05;
  text-align: center;
  border-top: 1px solid $border-subtle-02;
}

.medicationTabList {
  border-top: 1px solid $border-subtle;
}

.medicationTabs {
  padding: 0 !important;
}

.columnDataBold {
  @include type-style("heading-compact-01");
}

.medicationName {
  @include type-style("heading-compact-01");
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-02;
}

.medicineDetails {
  @include type-style("body-compact-01");
  color: $text-primary;
}

.PRN {
  background-color: $yellow-20 !important;
  color: $yellow-50 !important;
}

.STAT {
  background-color: $red-20 !important;
  color: $red-50 !important;
}

.activeStatus {
  color: $green-50;
}

.scheduledStatus {
  color: $purple-50;
}

.cancelledStatus {
  color: $yellow-50;
}

.completedStatus {
  color: $green-50;
}

.stoppedStatus {
  color: $red-50;
}

.unknownStatus {
  color: $cool-gray-20;
}

.rowSeperator {
  td {
    border-block-end: 0 !important;
  }
}

.medicationsTableBody {
  td {
    width: 15%;
  }
  td:nth-child(7) {
    padding-inline: 0 !important;
  }
}

.customAccordianItem {
  background-color: $layer-01;
  :global(.cds--accordion__content) {
    margin-inline-start: 0rem !important;
    padding-inline: 0rem !important;
  }
  :global(.cds--accordion__wrapper) {
    padding-block: 0rem !important;
    padding-block-end: 0rem !important;
  }
}
