@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;

.sortableDataTableBody {
  td {
    @include type-style("body-compact-01");
    background-color: $background;
    color: $text-primary !important;
    height: $spacing-10;
    align-content: start;
  }
  th,
  th * {
    background-color: $background !important;
    font-weight: normal;
    color: $text-secondary;
  }
  th {
    border-block: 1px solid $border-subtle !important;
  }
}

.sortableDataTableSkeleton {
  td,
  th {
    background-color: $background !important;
  }
}

.sortableDataTableBodyEmpty {
  @include type-style("body-compact-01");
  background-color: $background;
  padding: $spacing-06 $spacing-05;
  text-align: center;
  border-top: 1px solid $border-subtle-02;
}

.nonSortableHeader {
  :global(.cds--table-sort) {
    pointer-events: none !important;
    cursor: default !important;
  }

  :global(.cds--table-sort__icon),
  :global(.cds--table-sort__icon-unsorted) {
    display: none !important;
  }
}
