@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.footer {
  display: flex;
  gap: 0;
  margin-top: auto;
  flex-shrink: 0;
}

:global(.cds--btn).cancelButton,
:global(.cds--btn).saveButton {
  @include type-style("body-compact-01");
  flex: 1;
  border-radius: 0;
  font-weight: 400;
  min-height: 64px;
  height: 64px;
  display: flex;
  align-items: center;

  span {
    font-weight: 400;
  }
}

:global(.cds--btn.cds--btn--secondary).cancelButton {
  background-color: $background-inverse !important;
  color: $text-inverse !important;
  border: 1px solid $background-inverse !important;

  span {
    color: $text-inverse !important;
  }

  &:hover {
    background-color: $background-inverse-hover !important;
    border-color: $background-inverse-hover !important;
  }

  &:focus {
    border-color: $background-inverse !important;
    box-shadow: inset 0 0 0 1px $background-inverse, inset 0 0 0 2px $text-inverse !important;
  }
}

:global(.cds--btn.cds--btn--primary).saveButton {
  background-color: #0f62fe !important;
  color: #ffffff !important;
  border: 1px solid #0f62fe !important;

  span {
    color: #ffffff !important;
  }

  &:hover {
    background-color: #0353e9 !important;
    border-color: #0353e9 !important;
  }

  &:focus {
    border-color: #0f62fe !important;
    box-shadow: inset 0 0 0 1px #0f62fe, inset 0 0 0 2px #ffffff !important;
  }

  &:disabled {
    background-color: #c6c6c6 !important;
    border-color: #c6c6c6 !important;
    color: #8d8d8d !important;
    opacity: 1;
    cursor: not-allowed;

    span {
      color: #8d8d8d !important;
    }
  }
}

@media (max-width: 1055px) {
  .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }

  .saveButton,
  .cancelButton {
    max-width: 50%;
    width: 50%;
  }
}
