@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/breakpoint" as *;

.sideBarNav {
  background: white;
  position: fixed;
  right: 0 !important;
  top: 3rem;
  height: calc(100% - 3rem);
  width: 40vw;
  z-index: 9999;
  overflow: hidden;
  box-shadow: -1px 2px 3px 0px #aaa;
  border-left: 1px solid $border-subtle-01;
  display: flex;
  flex-direction: column;
}

.sideBarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-05 $spacing-06;
  border-bottom: 1px solid $border-subtle-01;
  background-color: white;
  min-height: $spacing-09;
}

.title {
  @include type-style("heading-03");
  color: $text-primary;
  flex: 1;
}

.closeIcon {
  display: flex;
  align-items: center;
  margin-left: $spacing-04;
}

.sideBarChildren {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
}

@include breakpoint-down(lg) {
  .sideBarNav {
    width: 60vw;
  }
}

@include breakpoint-down(md) {
  .sideBarNav {
    width: 80vw;
  }
}

@include breakpoint-down(sm) {
  .sideBarNav {
    width: 100vw;
  }
}
