@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.headerContainer {
  background-color: $background;
  border-bottom: 1px solid $border-subtle;
  position: sticky;
  top: 0;
  z-index: 1000;
}
